*.jpg
*.xml
*.zip
*.record
*.tar.gz
*.png
__pycache__
/Tensorflow/workspace/training_ssd/annotations/test.record
/Tensorflow/workspace/training_ssd/annotations/train.record
*.code-workspace
cat2
*ckpt*
*checkpoint*
*events*
*.txt
__pycache__./Tensorflow/workspace/training_ssd/annotations/test.record
/Tensorflow/workspace/training_ssd/exported_models/2/ssd-model.zip

/Tensorflow/workspace/training_ssd/models/my_ssd_mobilenet_v1_fpn/train/*

/Tensorflow/workspace/training_ssd_100/models/my_ssd_mobilenet_v1_fpn/train/*
/plateducate-ml/flask_server/output.txt
/Tensorflow/workspace/training_ssd_100_mobilenet_v1/annotations/test.record
/Tensorflow/workspace/training_ssd_100_mobilenet_v1/annotations/train.record
/Tensorflow/workspace/training_ssd_100_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/train/events.out.tfevents.1630149694.nardiena-legion-ubuntu.136833.1470.v2
/Tensorflow/workspace/training_ssd_100_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/train/events.out.tfevents.1630165067.nardiena-legion-ubuntu.158544.1470.v2
/Tensorflow/workspace/training_ssd_100_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/train/events.out.tfevents.1630221889.nardiena-legion-ubuntu.231039.1470.v2
/Tensorflow/workspace/training_ssd_100_resnet101/annotations/test.record
/Tensorflow/workspace/training_ssd_100_resnet101/annotations/train.record
/Tensorflow/workspace/training_ssd_100_resnet101/models/my_ssd_resnet101_v1_fpn/ckpt-64.data-00000-of-00001
/Tensorflow/workspace/training_ssd_100_resnet101/models/my_ssd_resnet101_v1_fpn/ckpt-65.data-00000-of-00001
/Tensorflow/workspace/training_ssd_100_resnet101/models/my_ssd_resnet101_v1_fpn/ckpt-66.data-00000-of-00001
/Tensorflow/workspace/training_ssd_100_resnet101/models/my_ssd_resnet101_v1_fpn/ckpt-67.data-00000-of-00001
/Tensorflow/workspace/training_ssd_100_resnet101/models/my_ssd_resnet101_v1_fpn/ckpt-68.data-00000-of-00001
/Tensorflow/workspace/training_ssd_100_resnet101/models/my_ssd_resnet101_v1_fpn/ckpt-69.data-00000-of-00001
/Tensorflow/workspace/training_ssd_100_resnet101/models/my_ssd_resnet101_v1_fpn/ckpt-70.data-00000-of-00001
/Tensorflow/workspace/training_ssd_100_resnet101/pre-trained-models/ssd_resnet101_v1_fpn_1024x1024_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
/Tensorflow/workspace/training_ssd_100_resnet101/pre-trained-models/ssd_resnet101_v1_fpn_1024x1024_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
/Tensorflow/workspace/training_ssd_100_resnet101/pre-trained-models/ssd_resnet101_v1_fpn_1024x1024_coco17_tpu-8.tar.gz
/Tensorflow/workspace/training_ssd_mobilenet_v1/annotations/test.record
/Tensorflow/workspace/training_ssd_mobilenet_v1/annotations/train.record
/Tensorflow/workspace/training_ssd_mobilenet_v1/exported_models/2/ssd-model.zip
/Tensorflow/workspace/training_ssd_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/ckpt-61.data-00000-of-00001
/Tensorflow/workspace/training_ssd_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/ckpt-62.data-00000-of-00001
/Tensorflow/workspace/training_ssd_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/ckpt-63.data-00000-of-00001
/Tensorflow/workspace/training_ssd_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/ckpt-64.data-00000-of-00001
/Tensorflow/workspace/training_ssd_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/ckpt-65.data-00000-of-00001
/Tensorflow/workspace/training_ssd_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/ckpt-66.data-00000-of-00001
/Tensorflow/workspace/training_ssd_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/ckpt-67.data-00000-of-00001
/Tensorflow/workspace/training_ssd_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/train/events.out.tfevents.1630087954.nardiena-legion-ubuntu.73932.1470.v2
/Tensorflow/workspace/training_ssd_mobilenet_v1/models/my_ssd_mobilenet_v1_fpn/train/events.out.tfevents.1630131590.nardiena-legion-ubuntu.101020.1470.v2

variables

./flask_server/detection_boxes.txt
./flask_server/output.txt
./serving/model-data/ssd_resnet101/1/variables/variables.data-00000-of-00001
